body{
	margin: 0px;
	background-color: #6696c8;
    font-family: 'Gelasio', serif;
    color: white;
}
.title{
    color: white;
    font-size: 20px;
    letter-spacing: 2px;
}
.info{
    font-family: 'Gelasio', serif;
    letter-spacing: 1px;
    color: white;
}
.leftside{
    /*border-right: 1px solid #E8F0FF;*/
    min-height: 93%;
    margin-top: 2%;
}
.notification{
    height: 200px;
    background-color: #333;
    border-radius: 2px;
    overflow: scroll;
    opacity: 0.5;
    
}
.notif-content{
    background-color: #333;
    border-radius: 4px;
}
.notif-content p{
    letter-spacing: 0.5px;
    padding-left: 2px;
    padding-top: 2px;
}
.notif-content a{
    cursor: pointer;
    text-decoration: none;
}
.tab-content{
    letter-spacing: 1px;
    
}